<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->


<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.dstc.tefkat.config.TefkatConfig.TefkatConfigPackage"
            genModel="src/model/TefkatConfig.genmodel"
            uri="http://www.dstc.edu.au:8080/qvt/TefkatConfig.ecore">
      </package>
   </extension>

</plugin>
