<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///TefkatModel-2.5.ecore"
            class="com.dstc.tefkat.model.TefkatPackage">
      </package>
      <package
            class="com.dstc.tefkat.data.DataPackage"
            uri="http:///TefkatData-1.0.ecore"/>
   </extension>

</plugin>
