<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/j2ee/dtds/web-app_2_3.dtd'>
<web-app>
  <servlet>
    <servlet-name>qvt</servlet-name>
    <servlet-class>com.dstc.tefkat.servlet.TefkatServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>qvt</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
