<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.7 2005/06/27 06:55:56 lawley Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "com.dstc.tefkat.config.edit"
    version = "2.0.3"
    provider-name = "%providerName"
    class = "com.dstc.tefkat.config.TefkatConfig.provider.TefkatConfigEditPlugin$Implementation">

  <requires>
    <import plugin="org.eclipse.core.runtime.compatibility" />
    <import plugin="org.eclipse.emf.edit" export="true"/>
    <import plugin="com.dstc.tefkat.config" export="true"/>
  </requires>

  <runtime>
    <library name="tefkat_config_edit.jar">
       <export name="*"/>
    </library>
  </runtime>

</plugin>

