<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point
         id="functionSet"
         name="Function Set"
         schema="schema/functionSet.exsd"/>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri=""
            class="tefkat.plugin.TefkatConfig.TefkatConfigPackage">
      </package>
   </extension>
   <extension
         id="TefkatNature"
         name="Tefkat"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="tefkat.plugin.TefkatNature">
         </run>
      </runtime>
      <builder
            id="tefkat.plugin.TefkatBuilder">
      </builder>
   </extension>
   <extension
         id="TefkatBuilder"
         name="Tefkat Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="tefkat.plugin.TefkatBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="tefkat.plugin.ToggleNature">
         <action
               label="Add Tefkat Nature"
               class="tefkat.plugin.ToggleNatureAction"
               enablesFor="1"
               id="tefkat.plugin.ToggleNatureAction">
         </action>
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="tefkat.plugin.TefkatNature">
               </objectState>
            </not>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="tefkat.plugin.ToggleNature">
         <action
               label="Remove Tefkat Nature"
               class="tefkat.plugin.ToggleNatureAction"
               enablesFor="1"
               id="tefkat.plugin.ToggleNatureAction">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="tefkat.plugin.TefkatNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/full/obj16/TefkatModelFile.gif"
            class="tefkat.plugin.TefkatModelEditor"
            default="true"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            name="Tefkat Textual Editor"
            id="tefkat.plugin.TefkatModelEditor"
            extensions="qvt">
      </editor>
   </extension>
   <extension
         id="parser.error"
         name="Tefkat Parser Error"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="tefkat.plugin.view.category"
            class="tefkat.plugin.TefkatTransformationView"
            id="tefkat.plugin.TefkatTransformationView"
            name="Tefkat Transformation View"/>
      <view
            category="tefkat.plugin.view.category"
            class="tefkat.plugin.TefkatQueryView"
            id="tefkat.plugin.TefkatQueryView"
            name="Tefkat Query"/>
      <category
            id="tefkat.plugin.view.category"
            name="Tefkat"/>
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="tefkat.plugin.TefkatExplorer"
            name="Tefkat Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="tefkat.plugin.debug.launching.engine"
            class="tefkat.plugin.debug.EngineLaunchConfigurationTabGroup"
            id="tefkat.plugin.debug.launchConfigurationTabGroup.engine">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="tefkat.plugin.debug.EngineLaunchConfigurationDelegate"
            name="Tefkat Engine"
            id="tefkat.plugin.debug.launching.engine"
            modes="run, debug"/>
   </extension>
   <extension
         id="TefkatDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="tefkat.plugin.TefkatDocumentSetupParticipant"
            extensions="qvt"/>
   </extension>
   <extension
         id="TefkatPreferencePage"
         point="org.eclipse.ui.preferencePages">
      <page
            class="tefkat.plugin.TefkatPreferencePage"
            name="Tefkat"
            id="tefkat.plugin.tefkatPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="tefkat.plugin.stats.always">
      </type>
      <type
            markerSeverity="0"
            name="tefkat.plugin.stats.never">
      </type>
      <type
            markerSeverity="0"
            name="tefkat.plugin.stats.sometimes">
      </type>
      <type
            markerSeverity="0"
            name="tefkat.plugin.stats.creationrate">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="tefkat.plugin.stats.always"
            colorPreferenceKey="statsAlwaysColour"
            colorPreferenceValue="152,251,152"
            contributesToHeader="false"
            highlightPreferenceKey="statsAlwaysHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="statsAlwaysNextTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="statsAlwaysPrevTargetKey"
            label="%StatsAlways.label"
            overviewRulerPreferenceKey="statsAlwaysInOverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="statsAlwaysNextPrev"
            symbolicIcon="info"
            textPreferenceKey="statsAlwaysText"
            textPreferenceValue="true"
            textStylePreferenceKey="statsAlwaysStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="statsAlwaysInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="tefkat.plugin.stats.never"
            colorPreferenceKey="statsNeverColour"
            colorPreferenceValue="255,9,71"
            contributesToHeader="false"
            highlightPreferenceKey="statsNeverHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="statsNeverNextTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="statsNeverPrevTargetKey"
            label="%StatsNever.label"
            overviewRulerPreferenceKey="statsNeverInOverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="statsNeverNextPrev"
            symbolicIcon="info"
            textPreferenceKey="statsNeverText"
            textPreferenceValue="true"
            textStylePreferenceKey="statsNeverStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="statsNeverInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="tefkat.plugin.stats.sometimes"
            colorPreferenceKey="statsSometimesColour"
            colorPreferenceValue="142,229,238"
            contributesToHeader="false"
            highlightPreferenceKey="statsSometimesHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="statsSometimesNextTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="statsSometimesPrevTargetKey"
            label="%StatsSometimes.label"
            overviewRulerPreferenceKey="statsSometimesInOverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="statsSometimesNextPrev"
            symbolicIcon="info"
            textPreferenceKey="statsSometimesText"
            textPreferenceValue="true"
            textStylePreferenceKey="statsSometimesStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="statsSometimesInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>

      <specification
            annotationType="tefkat.plugin.stats.creationrate"
            colorPreferenceKey="statsCreationRateColour"
            colorPreferenceValue="00,00,153"
            contributesToHeader="false"
            highlightPreferenceKey="statsCreationRateHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="statsCreationRateNextTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="statsCreationRatePrevTargetKey"
            label="%StatsCreationRate.label"
            overviewRulerPreferenceKey="statsCreationRateInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="statsCreationRateNextPrev"
            symbolicIcon="info"
            textPreferenceKey="statsCreationRateText"
            textPreferenceValue="true"
            textStylePreferenceKey="statsCreationRateStyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="statsCreationRateInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="tefkat.plugin.TefkatExplorer">
                      <popupMenu
                allowsPlatformContributions="true"
                id="tefkat.plugin.TefkatExplorer#PopupMenu">
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>
             <insertionPoint name="group.edit"
                   separator="true"/>
             <insertionPoint name="group.reorganize" />
             <insertionPoint
                   name="group.port"
                   separator="true"/>
             <insertionPoint
                   name="group.build"
                   separator="true"/>
             <insertionPoint
                   name="group.generate"
                   separator="true"/>
             <insertionPoint
                   name="group.search"
                   separator="true"/>
             <insertionPoint
                   name="additions"
                   separator="true"/>
             <insertionPoint
                   name="group.properties"
                   separator="true"/>

          </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="tefkat.plugin.TefkatExplorer">
         <includes>
                <contentExtension
                       pattern="org.eclipse.ui.navigator.resourceContent">
                 </contentExtension>
                 <contentExtension
                       pattern="org.eclipse.ui.navigator.resources.*">
                 </contentExtension>

            <contentExtension
                  pattern="tefkat.plugin.wip.explorer.*">
            </contentExtension>
            <contentExtension
                  pattern="tefkat.plugin.wip.explorer.actions*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
            <viewerActionBinding
                 viewerId="tefkat.plugin.TefkatExplorer">
              <includes>
                 <actionExtension
                       pattern="org.eclipse.ui.navigator.resources.*">
                 </actionExtension>
              </includes>
           </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="tefkat.plugin.wip.explorer.HideNonTefkatProjects"
            description="Hide Non-Tefkat Projects"
            id="tefkat.plugin.wip.explorer.HideNonTefkatProjects"
            name="Hide Non-Tefkat Projects">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="tefkat.plugin.wip.explorer.TefkatContentProvider"
            id="tefkat.plugin.wip.explorer.TefkatContent"
            labelProvider="tefkat.plugin.wip.explorer.TefkatLabelProvider"
            name="Tefkat Contents"
            priority="normal">
         <triggerPoints>
            <or>
               <!--and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="tefkatconfig">
                  </test>
               </and-->
               <instanceof
                     value="tefkat.plugin.wip.explorer.TefkatObjectModelPlaceHolder">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="tefkat.plugin.wip.explorer.TefkatObjectModelPlaceHolder">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="tefkat.plugin.wip.explorer.actions.TefkatActionProvider"
               id="tefkat.plugin.wip.explorer.actions.TefkatActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
            adaptable="false"
            id="tde.ui.explorer.actions.propertyResource"
            objectClass="tefkat.plugin.wip.explorer.TefkatObjectModelPlaceHolder">
         <action
               class="tefkat.plugin.wip.explorer.actions.PlaceholderActionDelegate"
               enablesFor="1"
               id="tefkat.plugin.wip.explorer.actions.PlaceholderActionDelegate"
               label="Do action through delegate"
               menubarPath="group.edit"
               tooltip="Do action through delegate"/>
      </objectContribution>
   </extension>

</plugin>

