<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.6 2005/06/27 06:55:58 lawley Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "com.dstc.tefkat.config.editor"
    version = "2.0.2"
    provider-name = "%providerName"
    class = "com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigEditorPlugin$Implementation">

  <requires>
    <import plugin="org.eclipse.core.runtime.compatibility" />
    <import plugin="org.eclipse.core.resources" export="true"/>
    <import plugin="com.dstc.tefkat.config.edit" export="true"/>
    <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
    <import plugin="org.eclipse.emf.edit.ui" export="true"/>
    <import plugin="org.eclipse.ui.ide" export="true"/>
  </requires>

  <runtime>
     <library name="tefkat_config_editor.jar">
        <export name="*"/>
     </library>
  </runtime>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigModelWizardID"
      name = "%_UI_TefkatConfigModelWizard_label"
      class = "com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/TefkatConfigModelFile.gif">
      <description>%_UI_TefkatConfigModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
          filenames="tefkat.xml"
          class="com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigEditor"
          icon="icons/full/obj16/TefkatConfigModelFile.gif"
          contributorClass="com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigActionBarContributor"
          name="%_UI_TefkatConfigEditor_label"
          id="com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigEditorID">
    </editor>
  </extension>    
</plugin>
