<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 */
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigModelWizardID"
      name = "%_UI_TefkatConfigModelWizard_label"
      class = "com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/TefkatConfigModelFile.gif">
      <description>%_UI_TefkatConfigModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
          filenames="tefkat.xml"
          class="com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigEditor"
          icon="icons/full/obj16/TefkatConfigModelFile.gif"
          contributorClass="com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigActionBarContributor"
          name="%_UI_TefkatConfigEditor_label"
          id="com.dstc.tefkat.config.TefkatConfig.presentation.TefkatConfigEditorID">
    </editor>
  </extension>    
</plugin>
