<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.dstc.emf.view"
   name="EMF View Plug-in"
   version="1.1.0.1"
   provider-name="michael lawley"
   class="com.dstc.emf.view.ViewPlugin">

   <runtime>
      <library name="view.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.draw2d" export="true"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Tefkat"
            id="com.dstc.emf.view">
      </category>
      <view
            name="EMF Model View"
            icon="icons/sample.gif"
            category="com.dstc.emf.view"
            class="com.dstc.emf.view.EMFView"
            id="com.dstc.emf.view.EMFView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.dstc.emf.view.EMFView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
