<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.dstc.tefkat.model.parser"
   name="%pluginName"
   version="2.0.7.01"
   provider-name="%providerName">

   <runtime>
      <library name="TefkatModelParser.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.emf" export="true"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.eclipse.emf.ecore.edit" export="true"/>
      <import plugin="org.eclipse.emf.ecore.editor" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
      <import plugin="org.antlr"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.junit" optional="true"/>
      <import plugin="com.dstc.tefkat.model" export="true"/>
   </requires>

</plugin>
